<body>
  <h2>Find your elected representative.</h2>
  <div class="row">
    <div class="col-md-6">
      <form #searchForm="ngForm" (ngSubmit)="onFormSubmit(searchForm)">
        <label for="address" style="text-align: center;">Address</label>
        <input
        type="address"
        id="address"
        name="address"
        class="form-control"
        #addressRef="ngModel"
        ngModel
        required
        />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
     </div>
     <div class="col-md-6" *ngFor="let sen of allSens, let i = index">

     </div>
  </div>
</body>
