<body>
  <h2>Find your elected representative.</h2>
  <div class="row col-md-10">
  <iframe width="425" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="https://www.govtrack.us/congress/members/embed/mapframe?&bounds=-94.614,41.868,-81.661,37.785"></iframe>
<p>To find your congressional district, use the map to zoom into you location.</p>
</div>

  <!-- <form #searchForm="ngForm" (ngSubmit)="onFormSubmit(searchForm)">
    <div class="row md-8" style="align-items: center;">
      <label for="address" style="text-align: center;">Address</label>
      <input
      type="address"
      id="address"
      name="address"
      class="form-control"
      #addressRef="ngModel"
      ngModel
      required
      >
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form> -->
</body>
