<a style="cursor: pointer;" class="list-group-item clearfix" [routerLink]="[idx]" routerLinkActive="active">
  <div class="float-left">
    <h4 class="list-group-item-heading">{{ rep.first_name }} {{rep.last_name}}</h4>
    <p class="list-group-item-text mb-0">{{ rep.state }}</p>
    <p class="list-group-item-text mb-0">{{ rep.district }}</p>
    <p class="list-group-item-text mb-0">Next election year: {{ rep.next_election }}</p>
    <p class="list-group-item-text mb-0">{{ rep.contact_form }}</p>
    <p class="list-group-item-text mb-0">{{ rep.phone }}</p>
  </div>
</a>
