.row {
  background: #cbf1cc;
  height: 100vh;
}

.form-group {
  margin: auto;
  margin-top: 6px;
  text-align: center;
}

form {
  margin: auto;
  text-align: center;
}

input {
  width: 275px;
}

form .ng-touched.ng-invalid {
  border: solid crimson;
}

.btn {
  margin-top: 7px;
  margin-bottom: 7px;
}

.alert-danger {
  margin: auto;
  text-align: center;
  width: 275px;
}
