<body>
  <h2>Power From The People</h2>
    <h4>Power From The People is a site created to help you track your elected representative
      <br>and help you hold them accountable for their work in representing you.</h4>
      <hr>
      <p>
      To use this site, please start by creating an account. This will allow you to save your representatives and will remove the need for you to search for them on each visit.
      Once you have created an account, you can search for your representatives. If you know their name or your congressional district, you can search for them directly. <br>If not, we will help you locate your district and your representative.
      This is a work in progress. Please check back in the near future for updates.
    </p>
</body>
