<body>
  <h2>Power From The People</h2>
    <h4>Power From The People is a site created to help you keep track of your elected representative
      <br>and help you hold them accountable for their work in representing you.</h4>
      <hr>
      <p>
      To use this site, please start by creating an account. This will allow you to save your representatives and will remove the need for you to search for them on each visit.
      Once you have created an account, you can search for your representatives if you already know who they are. If you do not, you can use the location feature to find your district.
    </p>
</body>
