body {
  height: 100vh;
  background: #6fa9e4;
}

h4 {
  color: rgb(161, 7, 7);
  font-weight: bold;
  font-family: serif;
  text-align: center;
}

p {
  font-weight: bold;
  font-family: serif;
  text-align: center;
}

h2 {
  text-align: center;
  color: rgb(161, 7, 7);
}
