<body>
  <h2>Find your federal representatives.</h2>
  <button class="btn btn-primary" type="button" (click)="saveReps()">Save my representatives</button>
  <div class="row">
      <form #searchForm="ngForm" (ngSubmit)="onFormSubmit(searchForm.value.address)">
        <label for="address" class="sr-only">Address</label>
        <input
        type="address"
        id="address"
        name="address"
        class="form-control"
        placeholder="Address"
        #addressRef="ngModel"
        [(ngModel)]="searchForm.value.address"
        required
        />
        <span>Please enter a valid street address without apt/ste numbers.</span>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
     </div>
     <div class="row">
       <app-official-results></app-official-results>
     </div>
</body>

